@media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    .no-more-table table table,
    .no-more-table table thead,
    .no-more-table table tbody,
    .no-more-table table th,
    .no-more-table table td,
    .no-more-table table tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        .no-more-table table thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    .no-more-table table tr {
        border: 1px solid #ccc;
    }

    .no-more-table table td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
        white-space: normal;
        text-align: left;
    }

        .no-more-table table td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
        }

        /*
Label the data
*/
        .no-more-table table td:before {
            content: attr(data-title);
        }
}