@{
    ViewBag.Title = "Firma";
}

<head>
    <link rel="stylesheet" href="~/Content/css/boot.css" />
    <link rel="stylesheet" href="~/Content/css/_styles.css" />


</head>
<body>

    <div class="row">
        <div class="col-lg-12">


            <div class="row">
                <div class="col-md-6">
                    <div class="label well-sm label-success">
                        Object : <a class="badge" href="/customfield/list/F9FB397BA7604DA08AB2236C4A16041F">Firma</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pull-right btn-group-xs">
                        <a href="/customfield/wizard/F9FB397BA7604DA08AB2236C4A16041F" class="btn btn-xs btn-success"><i class="fa fa-file"></i> New</a>
                        <a href="/pagedesigner/object/F9FB397BA7604DA08AB2236C4A16041F" class="btn btn-xs btn-success"><i class="fa fa-tasks"></i> Page Designer</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover sortable" data-order-update-url="/CustomField/ChangeOrder">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Field Type</th>
                                <th>Default Value</th>
                                <th>Help Text</th>
                                <th>Is required</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-id="5370877478B84E638542006F0A833CE5">
                                <td class="index">2</td>
                                <td style="font-family: consolas;">
                                    Firma Adı
                                </td>
                                <td>
                                    Text
                                </td>
                                <td></td>
                                <td></td>
                                <td>True</td>
                                <td>
                                    <a href="/customfield/edit/5370877478B84E638542006F0A833CE5" class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o"></i> Edit</a>
                                </td>
                            </tr>
                            <tr data-id="B687861B93D04D189BB0F3079F1990D1">
                                <td class="index">2</td>
                                <td style="font-family: consolas;">
                                    Firma Ticari Adı
                                </td>
                                <td>
                                    Text
                                </td>
                                <td></td>
                                <td></td>
                                <td>True</td>
                                <td>
                                    <button data-id="B687861B93D04D189BB0F3079F1990D1"
                                            data-delete-post="/customfield/delete"
                                            data-modal-body-message-url="/customfield/CheckDelete"
                                            data-async="true"
                                            data-delete-confirm="true"
                                            class="btn btn-xs btn-danger btn-delete">
                                        <i class="fa fa-trash-o"></i> Delete
                                    </button>
                                    <span class="button-checkbox"
                                          data-on="Active"
                                          data-off="Deactive"
                                          data-switch-url="/customfield/ChangeStatus/B687861B93D04D189BB0F3079F1990D1">
                                        <button type="button" class="btn btn-xs"></button>
                                        <input type="checkbox" class="hidden" checked />
                                    </span>
                                    <a href="/customfield/edit/B687861B93D04D189BB0F3079F1990D1" class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o"></i> Edit</a>
                                </td>
                            </tr>
                            <tr data-id="FA447A2A29214F879A70F378F1224C94">
                                <td class="index">2</td>
                                <td style="font-family: consolas;">
                                    Firma T&#252;r&#252;
                                </td>
                                <td>
                                    <i class="fa fa-ellipsis-v" title="select"></i>
                                    SelectList
                                </td>
                                <td></td>
                                <td></td>
                                <td>False</td>
                                <td>
                                    <button data-id="FA447A2A29214F879A70F378F1224C94"
                                            data-delete-post="/customfield/delete"
                                            data-modal-body-message-url="/customfield/CheckDelete"
                                            data-async="true"
                                            data-delete-confirm="true"
                                            class="btn btn-xs btn-danger btn-delete">
                                        <i class="fa fa-trash-o"></i> Delete
                                    </button>
                                    <span class="button-checkbox"
                                          data-on="Active"
                                          data-off="Deactive"
                                          data-switch-url="/customfield/ChangeStatus/FA447A2A29214F879A70F378F1224C94">
                                        <button type="button" class="btn btn-xs"></button>
                                        <input type="checkbox" class="hidden" checked />
                                    </span>
                                    <a href="/customfield/edit/FA447A2A29214F879A70F378F1224C94" class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o"></i> Edit</a>
                                </td>
                            </tr>
                            <tr data-id="D760319FB1C14F6A9C3402C301E19F6A">
                                <td class="index">2</td>
                                <td style="font-family: consolas;">
                                    Firma Email
                                </td>
                                <td>
                                    Email
                                </td>
                                <td></td>
                                <td></td>
                                <td>False</td>
                                <td>
                                    <button data-id="D760319FB1C14F6A9C3402C301E19F6A"
                                            data-delete-post="/customfield/delete"
                                            data-modal-body-message-url="/customfield/CheckDelete"
                                            data-async="true"
                                            data-delete-confirm="true"
                                            class="btn btn-xs btn-danger btn-delete">
                                        <i class="fa fa-trash-o"></i> Delete
                                    </button>
                                    <span class="button-checkbox"
                                          data-on="Active"
                                          data-off="Deactive"
                                          data-switch-url="/customfield/ChangeStatus/D760319FB1C14F6A9C3402C301E19F6A">
                                        <button type="button" class="btn btn-xs"></button>
                                        <input type="checkbox" class="hidden" checked />
                                    </span>
                                    <a href="/customfield/edit/D760319FB1C14F6A9C3402C301E19F6A" class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o"></i> Edit</a>
                                </td>
                            </tr>
                            <tr data-id="A82AE8572125493CA05A1D56FA41CF10">
                                <td class="index">2</td>
                                <td style="font-family: consolas;">
                                    Firma Telefon
                                </td>
                                <td>
                                    Phone
                                </td>
                                <td></td>
                                <td></td>
                                <td>False</td>
                                <td>
                                    <button data-id="A82AE8572125493CA05A1D56FA41CF10"
                                            data-delete-post="/customfield/delete"
                                            data-modal-body-message-url="/customfield/CheckDelete"
                                            data-async="true"
                                            data-delete-confirm="true"
                                            class="btn btn-xs btn-danger btn-delete">
                                        <i class="fa fa-trash-o"></i> Delete
                                    </button>
                                    <span class="button-checkbox"
                                          data-on="Active"
                                          data-off="Deactive"
                                          data-switch-url="/customfield/ChangeStatus/A82AE8572125493CA05A1D56FA41CF10">
                                        <button type="button" class="btn btn-xs"></button>
                                        <input type="checkbox" class="hidden" checked />
                                    </span>
                                    <a href="/customfield/edit/A82AE8572125493CA05A1D56FA41CF10" class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o"></i> Edit</a>
                                </td>
                            </tr>
                            <tr data-id="6C50A2BB184343A6B21FA83F275B3146">
                                <td class="index">2</td>
                                <td style="font-family: consolas;">
                                    Firma Table
                                </td>
                                <td>
                                    Table
                                </td>
                                <td></td>
                                <td></td>
                                <td>False</td>
                                <td>
                                    <button data-id="6C50A2BB184343A6B21FA83F275B3146"
                                            data-delete-post="/customfield/delete"
                                            data-modal-body-message-url="/customfield/CheckDelete"
                                            data-async="true"
                                            data-delete-confirm="true"
                                            class="btn btn-xs btn-danger btn-delete">
                                        <i class="fa fa-trash-o"></i> Delete
                                    </button>
                                    <span class="button-checkbox"
                                          data-on="Active"
                                          data-off="Deactive"
                                          data-switch-url="/customfield/ChangeStatus/6C50A2BB184343A6B21FA83F275B3146">
                                        <button type="button" class="btn btn-xs"></button>
                                        <input type="checkbox" class="hidden" checked />
                                    </span>
                                    <a href="/customfield/edit/6C50A2BB184343A6B21FA83F275B3146" class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o"></i> Edit</a>
                                    <a href="../CustomField/TableItems" class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o"></i> Add Item</a>
                                </td>
                            </tr>
                            <tr data-id="8E939E0C64F34ECCAA85CB9CE0554FDE">
                                <td class="index">2</td>
                                <td style="font-family: consolas;">
                                    IsActive
                                </td>
                                <td>
                                    Checkbox
                                </td>
                                <td></td>
                                <td></td>
                                <td>False</td>
                                <td>
                                    <a href="/customfield/edit/8E939E0C64F34ECCAA85CB9CE0554FDE" class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o"></i> Edit</a>
                                </td>
                            </tr>
                            
                            
                        </tbody>
                    </table>

                </div>
            </div>


        </div>
    </div>

    <div class="row" style="margin: 100px 0 100px 0"></div>

    <div class="clearfix"></div>

    










        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/app.js"></script>
</body>