@{
    ViewBag.Title = "data";
}

<head>
    <link rel="stylesheet" href="~/Content/css/boot.css" />
    <link rel="stylesheet" href="~/Content/css/_styles.css" />


</head>
<body>
    <div>data</div>
    <span id="data"></span>



    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
</body>